// GEMAH - Custom CSS
// VERSION: V3.00
// AUTHORS: KTartiere <ktartiere@gmail.com> / <> / <>

strong
  color: #3A539B !important
  font-weight: bold

.gemah-txt-primary
  color: #3A539B !important

.gemah-bg-primary
  color: #FFF
  background: #3A539B !important

label.optional::after
  content: ' (optionnel) '
  color: green
  font-size: 12px
  font-style: italic

.navbar_message
  display: flex
  align-items: center
  justify-content: center

  height: 32px
  width: 100%

  color: white
  font-weight: bold
  background: darken(#3A539B, 15)
