strong {
  color: #3A539B !important;
  font-weight: bold;
}

.gemah-txt-primary {
  color: #3A539B !important;
}

.gemah-bg-primary {
  color: #FFF;
  background: #3A539B !important;
}

label.optional::after {
  content: ' (optionnel) ';
  color: green;
  font-size: 12px;
  font-style: italic;
}

.navbar_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  width: 100%;
  color: white;
  font-weight: bold;
  background: #253563;
}

